<div class='top-buffer'>
  <span><%= t('account.connect_with') %></span>
</div>
<% if devise_mapping.omniauthable? %>
  <%
    omniauth_providers_decorated = resource_class.omniauth_providers.map do |provider|
      OmniauthProviderDecorator.new(provider)
    end
    omniauth_providers_decorated.each do |provider|
  %>
  <div class='top-buffer'>
    <%=
      link_to fa_icon(provider.icon, text: provider.title),
              user_omniauth_authorize_path(provider.to_sym),
              class: provider.classes
    %>
  </div>
  <% end %>
<% end %>
