<% if devise_mapping.omniauthable? && settings('enable_external_providers') == true %>
  <div class='top-buffer'>
    <span><%= t('account.connect_with') %></span>
  </div>
  <% resource_class.omniauth_providers.each do |provider| %>
    <%= decorate(OmniauthProviderDecorator, provider) do |decorated_provider|

          content = link_to fa_icon(decorated_provider.icon, text: decorated_provider.title),
                  omniauth_authorize_path(resource_name, decorated_provider.to_sym),
                  class: decorated_provider.classes
          content_tag(:div, content, class: 'top-buffer')        
        end %>
  <% end %>
<% end %>
