<div class="content">
  <div id="page_content" data-mercury="full">
    <%= raw @page.content %>
  </div>
  <% if current_user && current_user.admin? %>
  <div class="top-buffer">
    <p><%= link_to t('page.edit'), "/editor/pages/#{@page.name}" %></p>
  </div>
  <% end %>
</div>
