<%= title @page_decorator.title if @page_decorator.title.present? %>
<div class="content">
  <div id="page_content" data-mercury="full">
    <%= raw @page_decorator.content %>
  </div>
  <% if current_user && current_user.admin? %>
  <div class="top-buffer">
    <p><%= link_to t('page.edit.link'), @page_decorator.edit_link(page_path(@page_decorator)) %></p>
  </div>
  <% end %>
</div>
<% if @page_decorator.commentable? %>
  <div id="disqus_thread"></div>
  <%= javascript_include_tag 'disqus_config' %>
<% end %>
